In [1]:
import numpy as np
import pandas as pd

In [2]:
df_raw = pd.read_csv('indian_liver_patient.csv')
df_raw.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

### Checking if any columns have NaN values

In [3]:
"""
Unnecessary code
"""
list_na_cols = []
for column in np.array(df_raw.columns):
    if(df_raw[column].isna().any()):
        list_na_cols.append(column)
print('The following columns have NaN values:\n\n{}'.format('\n'.join(list_na_cols)))

The following columns have NaN values:

Albumin_and_Globulin_Ratio

In [100]:
df_raw.index[df_raw['Albumin_and_Globulin_Ratio'].isna()].tolist()

def get_null_rows(df):
    list_na_cols = []
    for column in df.columns.tolist():
        if(df[column].isna().any()):
            list_na_cols.append({
                'column': column,
                'indices': df.index[df[column].isna()].tolist()
            })
    for i in range(0, len(list_na_cols)):
        print(list_na_cols[i])
        list_df_new = []
        list_new = []
        # df_new = pd.DataFrame(columns=df.columns)
        for j in range(0, len(list_na_cols[i]['indices'])):
            list_new.append(df.iloc[list_na_cols[i]['indices'][j]])
        list_df_new.append(pd.DataFrame(list_new, columns=df.columns))
        # Print dataframes accordingly
        print(list_na_cols[i])
        pd.concat(df_new)
        print(df_new)
    return([list_na_cols, list_df_new])

In [99]:
arr = np.array(df_raw.iloc[209])
# df = pd.DataFrame(columns=df_raw.columns)
get_null_rows(df_raw)

{'column': 'Albumin_and_Globulin_Ratio', 'indices': [209, 241, 253, 312]}

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
209,45,Female,0.9,0.3,189,23,33,6.6,3.9,NaN,1
241,51,Male,0.8,0.2,230,24,46,6.5,3.1,NaN,1
253,35,Female,0.6,0.2,180,12,15,5.2,2.7,NaN,2
312,27,Male,1.3,0.6,106,25,54,8.5,4.8,NaN,2